<% if @user.errors.any? %>
    <div>
      <div>
        <h4>어머나, <%= pluralize(@user.errors.count, "개의 문제가 발생했습니다!") %></h4>
      </div>
      <ul>
        <% @user.errors.each do |attr, msg| %>
            <li>- <%= "#{msg}" %></li>
        <% end %>
      </ul>
    </div>
<% end %>