<div class="main_container_middle">
  <div class="middle-header">
    <div class="linkheader">
      <a href="/signup">
        <button type="button" class="signup_link">가입하기</button>
      </a>
      <a href="/login">
        <button type="button" class="login_link">로그인</button>
      </a>
    </div>
  </div>
  <div class="main_center middle">
    <h1>강의에 대한 모든 것! 
    <strong>클래스 라이언!</strong>
    </h1>
    <br>
    <h3>수강신청 때마다 안친한 사람들에게 민망하게 연락을 하고 별로 올라오지 않는 커뮤니티를 전전하는 당신을 위한!
    <br>
    강의평가부터 과제, 시험 등 알짜배기 정보가 담긴 위키까지 강의에 대한 모든 것을 느껴보세요!</h3>
  </div>
</div>