<div class="main_container">
  <div class="outer">
    <div class="inner">
      <div class="centered main_center">
        <div id="_main_middle">
          <p style="text-align:right"><%= link_to "로그인", login_path %><%= link_to "가입하기", signup_path %><br></p>
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
        
        
          <h1>클래스 라이언 About</h1>
          <br>
          <h2>무슨 강의를 들을까?</h2>
          <p>이젠 고민하지마세요! 10개의 학교, 어쩌고저쩌고 강의평가를 볼 수 있습니다!</p>
        
        
        
        </div>
        
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
    </div>
  </div>
</div>