<div class="main_container">
  <div class="outer">
    <div class="inner">
      <div class="centered main_center">
        <p class="logo">CLASSLION</p>
        <p class="main_msg">이제, 시작해보세요!</p>

        <a href="<%= login_path %>"><button type="button" class="login_btn">로그인</button></a><br>
        <a href="<%= signup_path %>"><button type="button" class="join_btn">회원가입</button></a><br>

      </div>
    </div>
  </div>
</div>