<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<h1>ClassLion</h1>
<p> 10개의 학교, 150000명,
  <br/>116053개의 강의평가
</p>

<%= link_to "시작하기", login_path %>
<%= link_to "가입하기", signup_path %>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
