<div class="container-fluid">
    <div class="no_review_div">
        <%= image_tag "/assets/lion_sad.svg", class: "", alt: "professor" %><br>
        <p class="feed_head">
            아직 작성한 강의평가가 없어요ㅠㅠ
        </p>
        <p class="feed_head2">
            지금 강의평가를 작성하시고 포인트를 받아보세요!
        </p>
        <div class="info_btn_div no_review_btn">
          <button class="info_btn">
            <i class="fa fa-pencil" aria-hidden="true"></i> 강의평가 쓰러가기
          </button>
        </div>
    </div>
</div>