<div class="container-fluid">
    <div class="no_review_div">
        <%= image_tag "/assets/lion_sad.svg", class: "", alt: "professor" %><br>
        <p class="feed_head">
            아직 관심강의가 없어요ㅠㅠ
        </p>
        <!--<p class="feed_head2">-->
        <!--    지금 강의평가를 작성하고 ~개의 강의평가를 확인해봐염-->
        <!--</p>-->
        <!--<div class="info_btn_div no_review_btn">-->
        <!--  <button class="info_btn">-->
        <!--    <i class="fa fa-pencil" aria-hidden="true"></i> 강의평가 쓰러가기-->
        <!--  </button>-->
        </div><%#////info_btn_div%>
    </div>
</div>