<%# 인증이메일 재전송 %>
<div class="main_container">
  <div class="outer">
    <div class="inner">
      <div class="centered main_center">

        <p class="logo">인증메일 재발송</p>
        <p class="main_msg">회원가입 시 이용한 이메일 주소를 입력해주세요.</p>

        <%= form_for(:re_authMail, url: "/signup/resend_authMail", method: "post") do |f|%>
            <div class="input_group login_input email_input">
              <div class="full_input input_div">
                <%# 만약 mail페이지에서 넘어오면, 해당 이메일 정보를 미리 채워주는 식으로 구현 %>
                <%= f.email_field :email, placeholder: "이메일" %><br/>
              </div>
            </div>

            <% unless @msg.nil? %>
                <div>
                  <span style="color: #ff5a5f" id="re_authMail_error"><%= @msg %></span>
                </div>
            <% end %>

            <%= f.submit "인증메일 재발송", class: "login_btn", id: "login_btn"%><br>
        <% end %>
      </div>
    </div>
  </div>
</div>