<div class="container-fluid">
    <div class="no_review_div course_no_review">
        <%= image_tag "/assets/lion_sad.svg", class: "", alt: "professor" %><br>
        <p class="feed_head">
          <%= t "evaluation.no_evaluation" %>
        </p>
        <p class="feed_head2">
          <%= t "evaluation.recommand" %>
        </p>
    </div>
</div>