// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//에러메세지 색상
.red {
  color: #ff5a5f;
}

.green {
  color: #27b5af;
}

.orange {
  color: #fc642d;
}

//input에 포커스가 왔을 때
.focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.input_div > input {
  color: white;

}
